.App-header {
  padding: 5px;
}

#messages {
  height: 70vh;
  overflow: auto;
}

.sent-message {
  background: #ABCDEF; 
  max-width: 80vw;
  float: right;
  clear: both;
}

.received-message {
  background: #ABEFCB; 
  max-width: 80vw;
  float: left;
  clear: both;
}

.Headline {
  text-align: center;
}

.App-intro {
  font-size: large;
}
