.App-header {
  padding: 5px;
}

#messages {
  height: 70vh;
  overflow: auto;
}

.contact {
  background: #ABDAEF;
  margin: 3px;
}

.new-conversation {
  background: #E2E6EB;
  margin: 3px;
}

.outgoing {
  background: #ABCDEF; 
  max-width: 80vw;
  float: right;
  clear: both;
}

.incoming {
  background: #ABEFCB; 
  max-width: 80vw;
  float: left;
  clear: both;
}

.Headline {
  text-align: center;
}

.App-intro {
  font-size: large;
}
